@mixin cuadrado ($bg, $wth:200px){
    background-color: $bg;
    width: $wth;
    height: 200px;
    margin-top: 5px;
    padding: 10px;
}
.cuadrado-1 {
    @include cuadrado(#111,300px);
}
.cuadrado-2{
    @include cuadrado(#222);
}
.cuadrado-3{
    @include cuadrado(#333,500px);
}